.container{
    margin-left: 17px;
    margin-right: 17px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.iconify { width: 20px; height: 20px; }

.list-group-item.active {
    z-index: 2;
    color: #000;
    background-color: #007bff63!important;
    border-color:#007bff63 ;
}

.list-group-item-action:hover {
    z-index: 1;
    text-decoration: none;
    background-color: #007bff63!important;
}

button.bg-light:focus, button.bg-light:hover {
    background-color: #007bff63!important;
}

.opt-success{
    color: #000!important;
    background-color: #00ff7363!important;
    border-color:#00ff7363 ;
}
